<mat-nav-list>
    <div class="profile-card">
        <img src="../../../../../assets/profile-male-icon.png" alt="spongebob_character">
    </div>
    <div class="header">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader><b>MAIN NAVIGATION</b></h2>
    <mat-divider></mat-divider>
    <p-panelMenu [model]="menuItem" [multiple]="false"></p-panelMenu>

    <!--<mat-divider></mat-divider>

    <h2 matSubheader><b>Tools</b></h2>

    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>-->

</mat-nav-list>
