<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="actionAdd()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="roleMenus" [rows]="10" [paginator]="true"
           [globalFilterFields]="['role.roleName']" [(selection)]="selectedRoleMenus"
           [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h4 class="p-m-0">Manage Role Menu</h4>
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:3em">No.</th>
        <th pSortableColumn="name">Role <p-sortIcon field="role.roleName"></p-sortIcon>
        </th>
        <th style="width:12em">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-roleMenu>
      <tr>
        <td style="text-align: center">{{i+1}}</td>
        <td>{{roleMenu.role['roleName']}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editRoleMenu(roleMenu)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRoleMenu(roleMenu)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{roleMenus ? roleMenus.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="roleMenuDialog" [style]="{width: '450px'}" header="{{labelDialog}}" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <p-dropdown [options]="roles" [(ngModel)]="selectedRole" placeholder="Select Role"
                  optionLabel="roleName"></p-dropdown>
    </div>
    <h5></h5>
    <h5>Dashboard</h5>
    <p-inputSwitch [(ngModel)]="dashboard"></p-inputSwitch>
    <h5></h5>
    <p-listbox [options]="menus" [(ngModel)]="selectedMenus" [metaKeySelection]="false" [checkbox]="true" [filter]="true"
               [multiple]="true" optionLabel="label" [listStyle]="{'max-height':'250px'}" [style]="{'width':'25rem'}">
      <ng-template let-menu pTemplate="item">
        <div class="country-item">
          <div>{{menu.value.label}}</div>
        </div>
      </ng-template>
    </p-listbox>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
